mockserver-tests/src/test/resources/schema1.xsd

<xs:schema elementFormDefault="qualified"
           version="1.0"
           targetNamespace="http://mockserver/test1"
           xmlns:tns="http://mockserver/test1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:test2="http://mockserver/test2">

    <xs:import namespace="http://mockserver/test2" schemaLocation="schema2.xsd"/>

    <xs:element name="request" type="tns:Request"/>

    <xs:complexType name="Request">
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="value" type="test2:Value"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

